body {
  margin: 0rem;
  padding: 0rem;
}

ul {
  margin: 0rem;
  padding: 0rem;
}

input {
  margin: 0rem;
  padding: 0rem;
}

button {
  margin: 0rem;
  padding: 0rem;
}

div.header {
  height: 54px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #EEEEEE;
}

div.header div.logo-box {
  width: 64px;
  height: 30px;
  background: url("/picture/zhihu.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

div.header ul.function-box {
  display: flex;
  list-style: none;
}

div.header ul.function-box button {
  height: 22px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 15px;
  color: #8892A6;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-right: 30px;
  background: #ffffff;
  border: none;
}

div.header ul.function-box button:last-child {
  margin-right: 0px;
}

div.header div.search-box {
  z-index: 3;
  position: relative;
}

div.header div.search-box .search {
  z-index: 2;
  position: relative;
  display: flex;
}

div.header div.search-box .search input {
  width: 450px;
  height: 34px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  border-radius: 100px 0px 0px 100px;
  border: 1px solid #EBEBEB;
  background: #F6F6F6;
  padding-left: 30px;
  outline: none;
}

div.header div.search-box .search button {
  width: 46px;
  border: 1px solid #EBEBEB;
  border-radius: 0px 100px 100px 0px;
  background: #0084FF;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.header div.search-box .search button .searchlogo {
  background: url("/picture/search.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 16px;
  height: 16px;
}

div.header div.search-box .searchResult {
  display: none;
  padding: 20px;
  width: 482px;
  background: #FFFFFF;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #E1E1E1;
  list-style: none;
  position: absolute;
  z-index: 2;
}

div.header div.search-box .searchResult li {
  padding-top: 6px;
  padding-bottom: 6px;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 10px;
}

div.header div.search-box .searchResult span {
  height: 22px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #888FA2;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

div.header div.search-box .searchResult li:first-child {
  background: #F4F4F4;
}

div.header div.search-box .searchResult li:first-child span {
  height: 22px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #285094;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

div.header div.search-box .searchResult a {
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #0084FF;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

div.header div.right-box {
  display: flex;
}

div.header div.right-box .barrier-free {
  display: flex;
  align-items: center;
  background: white;
  border: none;
  margin-right: 26px;
}

div.header div.right-box .barrier-free .logo {
  background: url("/picture/love.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 20px;
  height: 19px;
}

div.header div.right-box .barrier-free .text {
  width: 48px;
  height: 22px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 16px;
  color: #8892A6;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

div.header div.right-box .login {
  width: 66px;
  height: 34px;
  background: #FFFFFF;
  border-radius: 2px 2px 2px 2px;
  border: 1px solid #0084FF;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 16px;
  color: #0084FF;
  line-height: 22px;
  font-style: normal;
  text-transform: none;
}

div.nav {
  height: 52px;
  background: #FFFFFF;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 0px 0px;
  padding-left: 234px;
}

div.nav ul {
  height: 100%;
  display: flex;
  align-items: center;
}

div.nav ul button {
  height: 100%;
  margin-right: 30px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 16px;
  color: #1C1C1C;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  background: #ffffff;
  border: none;
}
