.login-box {
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -222px;
  margin-top: -222px;
  padding: 30px;
  width: 444px;
  z-index: 4;
  border-radius: 20px;
  background: #ffffff;
}

.login-box input {
  border: none;
}

.login-box .quit-box {
  background: url("/picture/delete.png");
  width: 52px;
  height: 52px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 440px;
  top: 10px;
  position: absolute;
}

.login-box .title {
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 30px;
  border-bottom: 4px solid #0084FF;
  width: 80px;
  padding-bottom: 16px;
}

.login-box .login-input input:focus {
  border: 2px solid #87CEFA;
  outline: none;
}

.login-box .login-input input {
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #9E9E9E;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  height: 82px;
  width: 384px;
  border-bottom: 1px solid #D8D8D8;
}

.login-box .login-input .login-button {
  margin-top: 40px;
  border: none;
  width: 384px;
  height: 52px;
  background: #0084FF;
  border-radius: 4px 4px 4px 4px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box .floor {
  margin-top: 30px;
  width: 444px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #9E9E9E;
  line-height: 22px;
  text-align: left;
  font-style: normal;
}
