p {
  margin: 0px;
  padding: 0px;
}

.posts {
  width: 684px;
  border-radius: 2px 2px 2px 2px;
  padding-left: 15px;
  background: #ffffff;
  padding-bottom: 20px;
  margin-bottom: 10px;
  padding-right: 30px;
}

.posts .title {
  padding-top: 20px;
  height: 22px;
  font-family: PingFang SC;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-bottom: 12px;
}

.posts .main {
  display: flex;
}

.posts .main .photo {
  width: 190px;
  height: 105px;
  background: #87CEFA;
  margin-right: 16px;
}

.posts .main .right .text {
  width: 433px;
  font-size: 14px;
  color: #1C1C1C;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 6px;
}

.posts .main .right button {
  align-items: center;
  background: #ffffff;
  width: 75px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #005DB5;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-right: 6px;
}

.posts .date-full {
  height: 22px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #8790A4;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  display: none;
}

.posts .footer {
  display: flex;
  margin-top: 20px;
  align-items: center;
}

.posts .footer button {
  border: none;
  background: #ffffff;
  height: 22px;
}

.posts .footer button p {
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #888FA2;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.posts .footer .patronize {
  width: 91px;
  height: 30px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #426BED;
  background: #E8EFFC;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-right: 4px;
  text-align: center;
}

.posts .footer .unapprove {
  width: 33px;
  height: 30px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #426BED;
  background: #E8EFFC;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  margin-right: 24px;
  background: #E8EFFC;
  text-align: center;
}

.posts .footer .comment {
  margin-right: 16px;
}

.posts .footer .comment .comments {
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #888FA2;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.posts .footer button:nth-child(n+4):nth-child(-n+6) {
  margin-right: 16px;
  display: none;
}

.posts .footer .date-mini {
  height: 22px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #888FA2;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.posts .footer .put-away {
  margin-left: auto;
  display: none;
}

.posts .footer .put-away p {
  height: 22px;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 16px;
  color: #888FA2;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.posts .comments-replies {
  z-index: 4;
  width: 708px;
  position: fixed;
  left: 50%;
  margin-left: -354px;
  top: 50%;
  margin-top: var(--element-halfHeight);
  display: none;
  background: #FFFFFF;
  border-radius: 0px 0px 0px 0px;
}

.posts .comments-replies .head {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #F1F1F1;
}

.posts .comments-replies .head .title {
  padding-left: 20px;
}

.posts .comments-replies .head .delete {
  width: 52px;
  height: 52px;
  background: url("/picture/delete.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  right: -20px;
}

.posts .comments-replies .comment-reply {
  padding-left: 20px;
  border-bottom: 1px solid #F1F1F1;
  padding-top: 22px;
  padding-right: 20px;
}

.posts .comments-replies .comment-reply .baseInfo {
  display: flex;
  justify-content: space-between;
}

.posts .comments-replies .comment-reply .baseInfo .author {
  font-family: PingFang SC, PingFang SC;
  font-weight: bold;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  padding-bottom: 10px;
  display: flex;
}

.posts .comments-replies .comment-reply .baseInfo .author .userPicture {
  width: 20px;
  height: 20px;
  background: url("/picture/DefaultUserPicture.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 8px;
}

.posts .comments-replies .comment-reply .baseInfo .time {
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #888FA2;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
}

.posts .comments-replies .comment-reply .content {
  width: 100%;
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  padding-bottom: 10px;
}

.posts .comments-replies .comment-reply .comment-footer {
  font-family: PingFang SC, PingFang SC;
  font-weight: normal;
  font-size: 14px;
  color: #888FA2;
  line-height: 22px;
  text-align: left;
  font-style: normal;
  text-transform: none;
  padding-bottom: 15px;
}

.posts .comments-replies .comment-reply .comment-footer button {
  width: 30px;
  color: #426BED;
  background: #E8EFFC;
  margin-right: 20px;
}

.posts .comments-replies .comment-reply .reply {
  padding-top: 10px;
  padding-left: 1.875rem;
  border-top: 1px solid #F1F1F1;
}

.posts .comments-replies .comment-reply .reply .author {
  display: flex;
}

.posts .comments-replies .comment-reply .reply .author .userPicture {
  width: 20px;
  height: 20px;
  background: url("/picture/DefaultUserPicture.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-right: 8px;
}

.posts .comments-replies .write-input {
  height: 64px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.posts .comments-replies .write-input input {
  width: 578px;
  height: 36px;
  border: none;
}

.posts .comments-replies .write-input button {
  width: 60px;
  height: 36px;
  color: white;
  background: #0084FF;
  border-radius: 2px 2px 2px 2px;
  opacity: 0.5;
}

.posts .comments-replies .write-input input:focus {
  border: 2px solid #87CEFA;
  outline: none;
}
